### Some MNT prefixes to ignore
###############################

## Temp or old versions of files that still reference
z*

## MNT specific large exploration files or reference scripts/graphics
side-*
ref_*
pdfs/exploration/regionSpecific_NAc-ALL-n5_top20markers_logExprs_Apr2020.pdf
pdfs/exploration/regionSpecific_NAc-ALL-n5_top20markers_logExprs_pt-coding_Apr2020.pdf
pdfs/exploration/regionSpecific_NAc-ALL-n5_top40markers*
pdfs/exploration/anova_mathys-PFC-BA-10_pseudo-bulked_Jul2020.pdf


## Files to share with Day Lab (via Dropbox)
pdfs/exploration/DayLab-ratNAc/10xCounts/


## Logs and Rdata files
logs/*
rdas
rnascope/*.rda


## Misc
R_batchsub.sh
R_batchsub2.sh
.RData
.Rhistory

twas/filter_data/.Rhistory

twas/.Rhistory

.DS_Store


## MAGMA stuff other than plotting results
MAGMA/*.loc
MAGMA/GWAS_Results
MAGMA/SNP_Data
MAGMA/*MarkerSets_fdr1e-12.txt
MAGMA/logs
MAGMA/hg38ToHg19.over.chain
MAGMA/Results

# And now updated (v1.08) MAGMA stuff
MAGMA_v1_08/SNP_Data
MAGMA_v1_08/SNP_Data_v2
MAGMA_v1_08/Results
MAGMA_v1_08/Results_v2
MAGMA_v1_08/Results_rev
MAGMA_v1_08/logs
MAGMA_v1_08/magma
MAGMA_v1_08/magma_v1.08_static.zip
MAGMA_v1_08/README
MAGMA_v1_08/manual_v1.08.pdf

## AnJa LDSC work
LDSC/*
.Rproj.user

