### Some MNT prefixes to ignore
###############################

## Temp or old versions of files that still reference
z*

## MNT specific large exploration files or reference scripts/graphics
side-*
ref_*
pdfs/exploration/regionSpecific_NAc-ALL-n5_top20markers_logExprs_Apr2020.pdf
pdfs/exploration/regionSpecific_NAc-ALL-n5_top20markers_logExprs_pt-coding_Apr2020.pdf
pdfs/exploration/regionSpecific_NAc-ALL-n5_top40markers*

## Logs
logs/*
rdas

## Misc
R_batchsub.sh
.RData
