trash
NAc_gene
logs/clean_trash.txt
.apply_weights_full_NAc_gene_aoi.sh
.apply_weights_full_NAc_gene_cpd.sh
.apply_weights_full_NAc_gene_dpw.sh
.apply_weights_full_NAc_gene_sc.sh
.apply_weights_full_NAc_gene_si.sh
AgeofInitiation.txt
CigarettesPerDay.txt
copy_gwas_here.sh
DrinksPerWeek.txt
SmokingCessation.txt
SmokingInitiation.txt
AgeofInitiation_Clean_hg38.txt
CigarettesPerDay_Clean_hg38.txt
DrinksPerWeek_Clean_hg38.txt
munge_gwas
SmokingCessation_Clean_hg38.txt
SmokingInitiation_Clean_hg38.txt
twas_exp_ranges.Rdata
compute_weights_indv_full_NAc_genes.*.txt
